.font-size-12 {
  font-size: 12px!important;
}
.font-size-13 {
  font-size: 13px!important;
}
.font-size-14 {
  font-size: 14px!important;
}
.font-size-16 {
  font-size: 16px!important;
}
.font-size-18 {
  font-size: 18px!important;
}
.font-size-20 {
  font-size: 20px!important;
}
.font-size-22 {
  font-size: 22px!important;
}
.font-size-24 {
  font-size: 24px!important;
}
.font-size-26 {
  font-size: 26px!important;
}
.font-size-28 {
  font-size: 28px!important;
}
.font-size-32 {
  font-size: 32px!important;
}
.font-size-34 {
  font-size: 34px!important;
}
.font-size-36 {
  font-size: 36px!important;
}
.font-size-38 {
  font-size: 38px!important;
}
.font-size-40 {
  font-size: 40px!important;
}
.font-size-44 {
  font-size: 44px!important;
}
.font-size-48 {
  font-size: 48px!important;
}
.font-size-52 {
  font-size: 52px!important;
}
.font-size-56 {
  font-size: 56px!important;
}
.font-size-60 {
  font-size: 60px!important;
}

@media only screen and (min-width: 960px) {
  .font-size-12-md {
    font-size: 12px!important;
  }
  .font-size-13-md {
    font-size: 13px!important;
  }
  .font-size-14-md {
    font-size: 14px!important;
  }
  .font-size-16-md {
    font-size: 16px!important;
  }
  .font-size-18-md {
    font-size: 18px!important;
  }
  .font-size-20-md {
    font-size: 20px!important;
  }
  .font-size-22-md {
    font-size: 22px!important;
  }
  .font-size-24-md {
    font-size: 24px!important;
  }
  .font-size-26-md {
    font-size: 26px!important;
  }
  .font-size-28-md {
    font-size: 28px!important;
  }
  .font-size-32-md {
    font-size: 32px!important;
  }
  .font-size-34-md {
    font-size: 34px!important;
  }
  .font-size-36-md {
    font-size: 36px!important;
  }
  .font-size-38-md {
    font-size: 38px!important;
  }
  .font-size-40-md {
    font-size: 40px!important;
  }
  .font-size-44-md {
    font-size: 44px!important;
  }
  .font-size-48-md {
    font-size: 48px!important;
  }
  .font-size-52-md {
    font-size: 52px!important;
  }
  .font-size-56-md {
    font-size: 56px!important;
  }
  .font-size-60-md {
    font-size: 60px!important;
  }
}
